* {
	margin: 0 auto;
	padding: 0;
	font-family: Helvetica;
}
html {
	background: DarkSlateGray;
}
.navigation {
	padding: 12px;
	background: Teal;
	text-align: center;
}
a:link, a:visited, a:hover, a:active {
	color: White;
    padding: 5px 5px;
    text-decoration: none;
    display: inline-block;
}
.header {
	color: White;
	text-align: center;
	padding: 10px;
}
.body {
	color: Black;
	background-color: White;
	padding: 4%;
}
.footer {
	padding: 12px;
	color: White;
	text-align: center;
}
h1 {
	font-family: 'Pacifico', cursive;
	font-size: 300%;
}
	
