* {
	margin: 0 auto;
	font-family: "Roboto", sans-serif;
}

#profile {
	background: DarkSlateGray;
	padding: 10px;
	position: fixed;
	right: 0;
	left: 0;
	z-index: 10;
	color: White;
}
#headertext {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	color: White;
	text-align: center; 
}

.header {
	background-image: url("landscape.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 100vh;
}
.body {
	border: Double 5px Black;
}

h1 {
	font-family: "Pacifico", cursive;
	font-size: 400%;
}
h2 {
	font-size: 200%;
}
p, h3 {
	margin: 10px;
